
.persoanlinfo{
    min-height: 10%;
    background-color: #0e374e;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 30px;
}
.persoanlinfo>h1{
    font-size: 30px;
}
.contactinfo{
    display: flex;
    justify-content: space-between;
    color: white;
}
.contactinfo>button{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px
}
.educinfo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
.educSection {
    background-color: #f3f4f6;
    border: 2px solid transparent;
    outline: none;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
     text-align: center;
}
