.persoanlinfo{
    min-height: 15%;
    background-color: #0e374e;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 20px;
}
.persoanlinfo>h1{
    font-size: 30px;
}
.contactinfo{
    display: flex;
    justify-content: space-between;
    color: white;
}
.contactinfo>button{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px
}