
.persoanlinfo{
    padding: 0.2rem;
    background-color: #0e374e;
    display: flex;
    flex-direction: column;
   padding-top: 20px;
    align-items: center;
    color: white;
    margin-bottom: 30px;
}
.persoanlinfo>h1{
    font-size: 20px;
}
.contactinfo{
    display: flex;
    justify-content: space-between;
    color: white;
}
.contactinfo>button{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px
}
.educinfo , .experienceInfo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}


.educSection,  .experienceSection{
    background-color: #f3f4f6;
    border: 2px solid transparent;
    outline: none;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
     text-align: center;
}
.eachEduc, .eachExp{
    display: flex;
    justify-content: space-between; 
}
.dateSection{
    display: flex;
    gap: 2px;
    align-items: center;
}
