button{
      background-color: transparent;
    font-family: serif;
    cursor: pointer;
    outline: none;
    border-style: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.clearResume, .personalDetails, .educationDetails, .expreienceDetails{
      background-color: #fff;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.clearResume{
   padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.clearResume>span{
    color: red;
    font-weight: 400;
}

.personalDetails, .educationDetails, .expreienceDetails{
    padding: 2rem 1rem;
     display: flex;
    flex-direction: column;
   gap: 2px;
   cursor: pointer;
}
.sectionNav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    display: flex;
    align-items: center;
    gap: 4px;
}
input, textarea {
      padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #f3f4f6;
    border: 2px solid transparent;
    outline: none;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
label{
    margin-top: 10px;
    margin-bottom: 10px;
}