.Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.clearResume, .personalDetails, .educationDetails, .expreienceDetails{
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.clearResume{
    min-height: 10%;
}

.personalDetails, .educationDetails, .expreienceDetails{
    min-height: 40%;
}
