/* styles.css */
html, body{
    height: 100%;
     font-family: 'Montserrat', sans-serif;
  background-color: #f0f4f8;
  color: #333;
    font-family: "Roboto", serif;
    font-weight: 800;
  }
   *{
      box-sizing: border-box;
  }